.blue-background {
  -fx-background-color: #d1daff;
}
.violet-background {
  -fx-background-color: #a200ff;
}
.mid-violet-background {
  -fx-background-color: #8000d5;
}

.dark-violet-background {
  -fx-background-color: #6a00b0;
}
.transparent-background {
  -fx-background-color: transparent;
}
.radius{
  -fx-background-radius: 100px;
}
.gradient-violet-background {
  -fx-background-color: linear-gradient(#c27ffc, #aad4ff);
}
.incoming-message {
  -fx-background-color: #d1daff;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-text-fill: #000000;
}
.outgoing-message {
  -fx-background-color: #a200ff;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-text-fill: #ffffff;
}
